[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/hermes"]
	path = external/hermes
	url = git@github.com:bsc-ssrg/hermes.git
[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
